body {
    background-color: #87CEFA;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emoji {
    height: 300px;
    width: 300px;
    background-image: radial-gradient(#feca3e 58%, #ff8000 80%);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.2);
}

.emoji:before,
.emoji:after {
    content: "";
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #663d0f;
    position: absolute;
    top: 85px;
    box-shadow: 0 -4px #4f2e08;
}

.emoji:before {
    left: 70px;
}

.emoji:after {
    right: 70px;
}

.mask {
    height: 120px;
    width: 220px;
    background-color: #e9fbaf;
    z-index: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    border-radius: 5px 5px 50% 50%;
}

.mask:before,
.mask:after {
    content: "";
    width: 300px;
    height: 10px;
    background-color: #e9fbaf;
    position: absolute;
    z-index: -1;
}

.mask:before {
    transform: rotate(-20deg);
    right: -51px;
    top: 30px;
}

.mask:after {
    transform: rotate(20deg);
    left: -51px;
    top: 30px;
}

.details {
    height: 15px;
    width: 180px;
    background-color: #bef4f1;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20px;
    border-radius: 0 0 50% 50%;
    box-shadow: 0 25px #bef4f1, 0px 50px #bef4f1;
}