body{
    background: url(bg.jpg);
    background-size: cover;
}

h1 {
    margin-top: 0px;
    padding-left: 70px;
    color: #fff;
}

.box{
    width: 500px;
    height: 700px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 40px 0px 0px;
}

form li {
    list-style: none;
    margin-top: 60px;
}

form ul li label {
    float: left;
    clear: left;
    width: 430px;
    text-align: center;
    margin-right: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
}

form ul li input,
select, span {
    width: 100%;
    float: left;
    margin-bottom: 28px;
}

.box input[type="text"]{
    border: none;
    height: 20px;
}

.box input[type="submit"] {
    clear: left;
    height: 35px;
    margin-top: 22px;
    font-size: 18px;
    color: #fff;
    background: #040114;
    border-radius: 30px;
}




